body{
    background: #F3F5FC;
    font-family: 'Montserrat', sans-serif;
}
.container-encrypt{
    width:1800px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    position: relative;
}

.logo-alura{
    position: absolute;
    top: 30px;
}

.text-message{
    
    position: absolute;
    background: #F3F5FC;
    top: 150px;
    left: 200px;
    width: 50%;
    height: 30%;
    font-size: 20px;
    color: #0A3871;
    border: none;
    border-radius: 10px;

    
}

.encryptor{
    width: 50%;
    height: 100%;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
    margin: 5px;
    position: relative;

}

.container-decryptor{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
    margin: 5px;
    position: relative;
    
    
}
.decryptor{
    width: 60%;
    height: 900px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    
}

.decryptor p{
    
    text-align: center;
    margin-top: 90px;
    color: #0A3871;
    font-weight: bold;
    font-size: 1em;
}

.imagen-muneco{
    position: absolute;
    left: 90px;
    bottom: 350px;
    
}

.decryptor h1{
    
    width: 490px;
    font-size: 25px;
    font-weight: bold;
    color: #0A3871;
    position: absolute;
    left: 40px;
    bottom: 250px;
   
}


#instruction-message{
    position: absolute;
    color: #0A3871;
    bottom: 200px;
    left: 40px;
}

#Copy-button{
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    text-align: center;
    left: 170px;
    cursor: pointer;
    background-color: #F3F5FC;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    font-weight: bold;
    color: #0A3871;
}

#Copy-button:hover{
    transform: scale(1.2);
    transition: 1s;
}
